body {
  margin: 0;
  padding: 0;
  background-color: #FFC425 !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 223px;
}

.App-header {
  /* background-color: #ffc425; */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 400;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding-left: 20px;
  text-align:left;
}

.App ul, .App h2 {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  text-align: center;
  font-family: "Krona One";
}

.payment {
  padding-top: 20px;
  text-align: center;
  font-family: "Krona One";
}

.qrcode {
  padding-top: 20px;
}

.header .title {
  padding-top: 5%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #492f24;
  color: white;
  text-align: center;
  padding: 25px;
}

.footer a {
  color: white;
}

.titleRow {
  background-color: #492F24;
}
